body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 1px;
    background: peru;
}
.container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 500px;
}
header h4{
    margin: 0px;
    font-size: 60px;
}
.text{
    margin: 10px;
    font-weight: 1000px;
    font-size: 70px;
}
.btn{
    padding: 15px;
    border-radius: 4px;
    font-size:25px;
    margin-top: 20px;
    margin-right: 20px;
    background: #ddd;
    border: 0px;
    box-shadow: 5px 2px 18px #888888;
    color: rebeccapurple;
    outline: none;
}
.btn:hover{
    background: #fff;
    color: blueviolet;
}
.btn:focus{
    border: #ddd;
}